@import "../../global.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $backgroundColorDark;

    .navbar {
        height: 60px;
        // background-color: red;
        width: 80vw;
        border-bottom: 1px solid $blue;

        h2 {
            color: $font;
            margin-top: 20px;
            margin-left: 30px;
        }
    }

    .top {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;

        h1 {
            margin-bottom: 20px;
            color: $font;
        }

        input {
            width: 400px;
            border-radius: 15px;
            background-color: white;
            padding: 10px;
            border: none;
        }
    }

    .middle {
        flex: 5;
        width: 90vw;
        margin-top: 20px;

        .section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 20px;
            justify-content: space-evenly;
            align-content: flex-start;

            a {
                text-decoration: none;

            }

            .card {
                border: 1px solid rgb(82, 82, 82);
                border-radius: 10px;
                background-color: $backgroundColor;

                width: 17vw;
                height: 200px;
                display: flex;
                flex-direction: row;
                align-content: center;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;



                .card-text {
                    flex: 7;
                    width: 220px;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-content: space-around;
                    align-items: flex-start;
                    margin-left: 10px;
                    color: $fontDark;

                    h4 {
                        margin-bottom: 15px;
                        font-weight: 800;
                        color: $Purple;
                    }

                    p {
                        font-size: 12px;
                        margin-top: 10px;
                    }



                }

                .card-image {
                    display: flex;
                    flex: 5;
                    width: 100px;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: space-around;
                    justify-content: center;

                    img {
                        height: 130px;
                    }
                }


            }
        }
    }

    .bottom {
        margin-top: 15px;
    }

}