$backgroundColor: #e8e8e8;
$backgroundColorDark: #1D1D2D;
$Purple: #8b246e;
$font: #C3C2C7;
$fontDark: #2e2e2e;
$blue: #1ba7cc;

$width: 670px;

@mixin mobile {
    @media(max-width:#{$width}) {
        @content;
    }
}